#topText {
  position: relative;
  overflow:auto;
}

#navMenu {
  font-family: "Lucida Console", "Courier New", monospace;
  list-style-type: none;
  position: relative;
}

#navLink {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#paretnOf {
  overflow:auto; 
   width: 400px; 
   margin-left:auto;
  margin-right:auto;
  
}

#textName {
  display: inline;
  text-align: center;
}

#textName2 {
  text-align: center;
}

#imageParent {
  position: relative;
}

#headerImage {
  justify-content: center;
  transition-timing-function: linear;
  transition: opacity 1s;
  display: block;
  border-radius: 50%;
  position: relative;
  
}

#buttonHeader {
  margin-left: 10%;
  position: absolute;
  top: 45%;
  opacity: 0.2;
  border-radius: 10px;
  overflow: hidden;
  border: 0;
  transition: all .35s;
  font-family: DejaVu Sans Mono, monospace;
  z-index: 2;
}

#buttonHeader:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #37ffde;
  transition: all .35s;
}

#buttonHeader:hover{
  color: rgb(30, 46, 70);
}

#buttonHeader:hover:after{
  width: 77%;
}

#imageStyle {
  box-shadow: 15px 15px rgba(184, 184, 184, 0.15);
  border-radius: 8px;
}

#topText {
  position: relative;
  font-family: DejaVu Sans Mono, monospace;
  
}

#overlayText {
  position: absolute;
  top: 45%;
  left: 35%;
  color: blue;
  cursor: pointer;
}

#hello {
  width: 90%;
  overflow-wrap: break-word;
  position: absolute;
  cursor: pointer;
}

#hero__social__indicator p{
    transform: translateY(-70px) rotate(90deg);
    letter-spacing: 0.7rem;
    text-transform: uppercase;
}

#hero__social {
    flex-direction: column;
    position: absolute;
    top: 30%;
    right: 93%;
    bottom: 20px;
}


#hero__social__indicator {
  width: 90px;
}

#hero__social__text ul, li{
  list-style-type: none; 
  margin-right: 2rem;
}

#hero__social__text a{
  display: inline-block;
  font-size: 1rem;
  transform: rotate(-90deg);
  letter-spacing: 5px;
  margin-bottom: 2rem;
  margin-right: 5px;
  text-decoration:none;
  color:rgb(119, 218, 176);
  background-image: linear-gradient(
    to right,
    #ffffff,
    #ffffff 50%,
    rgb(120, 180, 172) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

#hero__social__text a:before {
  content: '';
  background: #ffffff;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

#hero__social__text a:hover {
  background-position: 0;
}

#hero__social__text a:hover::before {
  width: 90%;
}

#aboutSec {
  padding-top: 10%;
}